<h2>List of Celebrities</h2>

<ul>
  {{#each celebrities}}
    <li>Name: {{name}}</li>
    <li>Occupation: {{occupation}}</li>  
    <li>Catch phrase: {{catchPhrase}}</li><hr>
    
  {{/each}}
</ul>

<a href="/">Home</a>

























