{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<a href="/celebrities/new-celebrity">Create a New Celebrity</a><hr>
<a href="celebrities/celebrities">All Celebrities</a> 
<hr>

<a href="/movies/new-movie">Create New Movie</a><hr>
<a href="/movies">All Movies</a>